.news-form-image {
    height: 200px;
    display: flex;
    justify-content: center;
    overflow: hidden;

    &__img {
        max-height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.news-from-checkbox{
    &__input, &__label {
        cursor: pointer;
    }
}

.tinymce-error > .tox-tinymce {
    border: 1px solid red;
}

.add-new-button {
    margin-left: 1rem;
}

.news-form-delete-btn {
    margin-left: 1rem;
}


.news-show_image {
    max-width: 100%;
}

.news-show__previous-link {
    margin-right: 20px;
}
